* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;

    background: #f1f1f1;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    padding: 1.3rem;

    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    background: #001a30;
}

h1 {
    color: #f1f1f1
}

section {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    padding: 0 0 3rem 3rem;
}

h2, h3 {
    color: #001a30;
}

button {
    max-width: 6rem;
    padding: 5px;

    font: bold 0.8rem sans-serif;
    color: #f1f1f1;
    background: #00213f;

    border: solid 2px #00213f;
    border-radius: 5px;
    cursor: pointer;

    transition: all 0.3s;
}

button:hover {
    color: #00213f;
    background: #f1f1f1;
}

input {
    max-width: 6rem;

    font: bold 0.8rem sans-serif;

    background: #6eb9ff5e;
    border: solid 2px #00213f;
    border-radius: 5px;
}